
body{
	background-color: #F5FFFA ; 
}

h1{
	font-variant: small-caps;
	background-color: #98FB98 ;
color: #808000 ;
font-size: 47px;

}
 
/* 
<!-- for mainn headings -->
h3 {
font-size: 22px;
color: #708090 ;
} */

/*
<!-- for the top tablee -->
th li {
 
}
*/

/*
<!-- for the contennt of each sectionn -->
.content {
font-family: arial , helvetica ;
}
*/

/*
<!-- for only nexus headings -->
.nex {
font-family: comic sans-ms ;
}
*/

/*
<!-- for all references -->
.ot {
background-color: #ADD8E6 ;
}
*/

<!-- for all references hyperlinks -->
p > a {
	
}


