body{
	margin: 0;
	padding: 0px 80px 0px 80px;
    background-image: url(backk3.jpg) ;
    
    }

.only1{
 box-shadow: 3px 4px 20px #99ffff ;
}
.backt {
 background-image: url(d1.jpg);
 
}


h1{
 box-shadow: -7px 3px 25px #9fbfdf;
 text-shadow: 3px -1px 20px #002233;
 text-align: left ;
 background-color: #ffd9b3 ;
 color: #001133 ;
 font-size: 60px;
 


}


h3 {
background-color:  #f2f2f2 ;
letter-spacing: 1.7px ;
text-decoration: underline;
text-align: left ;
font-size: 30px ;
color: black ;
text-shadow: 10px 10px 59px silver ;
}


.sideimg {
	align-content: center;
	float: left;

}


.endfloat {
	clear: both;
	padding-bottom: 5px;
}

ul li {
	font-family: helvetica ,arial ;
font-size: 19px ;
color: #b30000 ;
}

.content {
margin: 10px 50px 10px 50px  ;
font-family: helvetica ,arial ;
font-size: 19px ;
color: #b30000 ;
box-shadow: 3px -4px 20px #ff8080 ;
}


.ot {

background-color: #e0e0eb ;
color: #14141f ;
margin-right: 25px ;
margin-left: 25px ;
}


.nex {
color : black ;
text-transform: 220px ;
margin-left: 5px ;
text-decoration: underline;
font-size: 21px ;
font-family: helvetica , arial  ;
}


.nexcon {
font-family: arial ;
}

.last {
	font-size: 17px; 
	font-style: italic;
	width: 100px ;
	margin: 8px 10px 7px 0px;
	background-color: #F0FFF0 ;
}

a:hover , a:active {

	background-color: #d9d9d9 ;
}

.dropbtn {
    background-color: #FFA07A;
    color: #001133;
    padding: 6px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    letter-spacing : 1px ;
    box-shadow : -3px -1px 10px black ;
}

.dropdown {
	margin-top: 0px ;
	margin-left: 1020px;
    position: relative;
    display: inline-block;
}

.drop-cont {
    display: none;
    position: absolute;
    background-color: #F0FFF0;
    font-size: 20px;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-cont a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.drop-cont a:hover {
background-color: #E6E6FA;
}

.dropdown:hover .drop-cont {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #F5F5DC ;
}

#top {
box-shadow: -7px 3px 25px #9fbfdf;
 text-shadow: 3px -1px 20px #002233;
 text-align: left ;
 background-color: #ffd9b3 ;
 color: #001133 ;
 font-size: 60px;
 font-weight: bold;	
 margin: 0px;
}